@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  html .container-fluid, body .container-fluid {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; }
    html .container-fluid header, body .container-fluid header {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: space-around;
      height: 70px; }
      html .container-fluid header .title, body .container-fluid header .title {
        flex-grow: 1; }
    html .container-fluid #main, body .container-fluid #main {
      display: flex;
      flex-direction: row;
      height: calc(100% - (70px + 15px ));
      flex: 1 0 auto;
      overflow: hidden; }
      html .container-fluid #main #side, body .container-fluid #main #side {
        display: flex;
        flex-direction: column;
        width: 300px; }
        html .container-fluid #main #side .tabs, body .container-fluid #main #side .tabs {
          height: 40px; }
        html .container-fluid #main #side .pannel, body .container-fluid #main #side .pannel {
          flex: 1;
          overflow-y: scroll;
          overflow-x: hidden; }
          html .container-fluid #main #side .pannel #WMS_external, body .container-fluid #main #side .pannel #WMS_external {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; }
            html .container-fluid #main #side .pannel #WMS_external .getCapabilities, body .container-fluid #main #side .pannel #WMS_external .getCapabilities {
              align-items: left; }
            html .container-fluid #main #side .pannel #WMS_external .custom_Layers, body .container-fluid #main #side .pannel #WMS_external .custom_Layers {
              align-items: left; }
          html .container-fluid #main #side .pannel #geotag, body .container-fluid #main #side .pannel #geotag {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: space-around; }
            html .container-fluid #main #side .pannel #geotag .switch_photo, body .container-fluid #main #side .pannel #geotag .switch_photo {
              padding: 0 10px;
              align-items: center;
              height: 45px;
              width: 80px; }
            html .container-fluid #main #side .pannel #geotag .fa-cogs, body .container-fluid #main #side .pannel #geotag .fa-cogs {
              padding-left: 10px; }
            html .container-fluid #main #side .pannel #geotag span, body .container-fluid #main #side .pannel #geotag span {
              font-size: 0.9em; }
        html .container-fluid #main #side .settings, body .container-fluid #main #side .settings {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
      html .container-fluid #main #map, body .container-fluid #main #map {
        background: white;
        flex-grow: 1; }
    html .container-fluid footer, body .container-fluid footer {
      height: 15px; }

span {
  display: inline-block; }

.icon-hide {
  display: none; }

body {
  font: 20px Arial, Helvetica, sans-serif;
  color: white; }
  body h1 {
    font-size: 2em; }
  body h2 {
    font-size: 1.5em; }
  body h3 {
    font-size: 1em; }
  body h4 {
    font-size: 0.8em; }
  body h5 {
    font-size: 0.4em; }
  body .container-fluid header {
    background: #2B3856;
    text-align: center;
    border-bottom: solid white 0.5px; }
    body .container-fluid header .logo img {
      padding-left: 5px;
      height: 67px;
      width: 203px; }
    body .container-fluid header .title h2 {
      color: white;
      font-weight: bold; }
  body .container-fluid #main {
    background: #eee; }
    body .container-fluid #main #side {
      border-right: solid #555555 1px;
      color: #2B3856; }
      body .container-fluid #main #side .tabs {
        border-bottom: solid #555555 1px; }
        body .container-fluid #main #side .tabs .nav-link {
          padding: 8px 8px;
          min-width: 90px;
          font-size: 0.7em;
          text-align: center; }
      body .container-fluid #main #side .pannel h3 {
        font-size: 0.7em; }
      body .container-fluid #main #side .pannel label {
        font-size: 0.65em; }
      body .container-fluid #main #side .pannel #accordion .ui-accordion, body .container-fluid #main #side .pannel #accordion .ui-accordion-content {
        padding: 10px;
        margin: 0;
        font-size: 1em;
        vertical-align: middle; }
      body .container-fluid #main #side .pannel #accordion .draggable {
        vertical-align: middle; }
      body .container-fluid #main #side .pannel #accordion .draggable label {
        vertical-align: middle; }
      body .container-fluid #main #side .pannel #accordion .draggable:hover {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
        background: #eee;
        border: 1px solid white; }
      body .container-fluid #main #side .pannel #accordion #WMS_external {
        padding: 8px 2px;
        height: 140%;
        width: 100%;
        overflow: hidden; }
        body .container-fluid #main #side .pannel #accordion #WMS_external .getCapabilities {
          font-size: 0.65em; }
          body .container-fluid #main #side .pannel #accordion #WMS_external .getCapabilities .wmsModal .modal-body .wms_candidates {
            margin: 0;
            font-size: 1em;
            vertical-align: middle;
            height: 30px;
            text-align: left; }
            body .container-fluid #main #side .pannel #accordion #WMS_external .getCapabilities .wmsModal .modal-body .wms_candidates li {
              height: 30px; }
            body .container-fluid #main #side .pannel #accordion #WMS_external .getCapabilities .wmsModal .modal-body .wms_candidates label {
              display: inline-block;
              padding: 5px 0 0 5px;
              vertical-align: middle;
              font-size: 1em; }
          body .container-fluid #main #side .pannel #accordion #WMS_external .getCapabilities .wmsModal .modal-body .wms_candidates:hover {
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
            background: #eee;
            border: 1px solid white; }
        body .container-fluid #main #side .pannel #accordion #WMS_external .custom_Layers {
          padding-top: 5px;
          margin: 5px 2px;
          height: auto;
          margin: 0;
          font-size: 1em;
          vertical-align: middle;
          width: 95%; }
          body .container-fluid #main #side .pannel #accordion #WMS_external .custom_Layers .wms_selected {
            margin: 0;
            font-size: 1em;
            vertical-align: middle;
            height: 30px;
            text-align: left; }
            body .container-fluid #main #side .pannel #accordion #WMS_external .custom_Layers .wms_selected li {
              height: 30px; }
            body .container-fluid #main #side .pannel #accordion #WMS_external .custom_Layers .wms_selected label {
              display: inline-block;
              padding: 5px 0 0 5px;
              vertical-align: middle; }
          body .container-fluid #main #side .pannel #accordion #WMS_external .custom_Layers .wms_selected:hover {
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
            background: #eee;
            border: 1px solid white; }
      body .container-fluid #main #side .pannel .leg, body .container-fluid #main #side .pannel .tbl {
        display: none;
        padding: 0; }
        body .container-fluid #main #side .pannel .leg .panel.panel-default, body .container-fluid #main #side .pannel .tbl .panel.panel-default {
          margin: 0; }
        body .container-fluid #main #side .pannel .leg .panel-heading, body .container-fluid #main #side .pannel .tbl .panel-heading {
          padding: 0;
          border: solid #555555 1px;
          background: #eee;
          color: #555555; }
          body .container-fluid #main #side .pannel .leg .panel-heading .panel-title, body .container-fluid #main #side .pannel .tbl .panel-heading .panel-title {
            margin: 0px; }
          body .container-fluid #main #side .pannel .leg .panel-heading a, body .container-fluid #main #side .pannel .tbl .panel-heading a {
            padding: 10px 10px 10px 40px;
            display: inline-block;
            width: 100%;
            background-color: #eee;
            color: #2B3856;
            position: relative;
            text-decoration: none; }
          body .container-fluid #main #side .pannel .leg .panel-heading a:after, body .container-fluid #main #side .pannel .tbl .panel-heading a:after {
            font-family: "FontAwesome";
            content: "";
            position: absolute;
            left: 10px;
            font-size: 20px;
            font-weight: 400;
            top: 50%;
            line-height: 1;
            margin-top: -10px; }
        body .container-fluid #main #side .pannel .leg .panel-heading a.collapsed:after, body .container-fluid #main #side .pannel .tbl .panel-heading a.collapsed:after {
          content: ""; }
        body .container-fluid #main #side .pannel .leg .opy, body .container-fluid #main #side .pannel .tbl .opy {
          padding-top: 5px; }
          body .container-fluid #main #side .pannel .leg .opy .opy_title, body .container-fluid #main #side .pannel .tbl .opy .opy_title {
            font-size: 0.6em;
            text-align: center;
            vertical-align: bottom;
            padding: 5px 0 0 10px;
            position: relative;
            float: left;
            width: 80px; }
          body .container-fluid #main #side .pannel .leg .opy .opy_slider, body .container-fluid #main #side .pannel .tbl .opy .opy_slider {
            position: relative;
            float: left;
            width: 60%; }
      body .container-fluid #main #side .pannel .tbl {
        display: none; }
        body .container-fluid #main #side .pannel .tbl .table_row {
          font-size: 0.6em; }
      body .container-fluid #main #side .settings .geotag {
        border-top: solid #555555 1px; }
        body .container-fluid #main #side .settings .geotag .button {
          padding: 5px;
          margin: 0 5px 0 5px;
          font-size: 0.6em;
          min-width: 100px;
          border: none; }
        body .container-fluid #main #side .settings .geotag .switch_photo {
          width: 90px;
          padding: 5px;
          margin: 0 5px 0 5px;
          font-size: 0.5em;
          max-width: 70px;
          border: none; }
  body .container-fluid footer {
    background: #2B3856;
    font-size: 0.45em; }
