head
    title "LULC Maps of Europe"
    meta(name="keywords" content=".....")
    meta(name="author" content="Fernando Fahl")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
        
    //- <!-- build:css css/main.min.css -->
    //- link(rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css") 
    //- link(rel="stylesheet" type="text/css" href="bower_components/jquery-ui/themes/base/jquery-ui.css")     
    //- link(rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css") 
    //- link(rel="stylesheet" type="text/css" href="bower_components/leaflet/dist/leaflet.css")
    //- link(rel="stylesheet" type="text/css" href="css/app.css")      
    link(rel="stylesheet" type="text/css" href="css/app.css")  
    //- <!-- endbuild -->

    <!-- build:js js/plugins.min.js -->
    script(src="bower_components/leaflet/dist/leaflet.js")
    script(src="bower_components/leaflet-providers/leaflet-providers.js") 
    script(src="bower_components/leaflet-plugins/layer/tile/Bing.js") 
    script(src="bower_components/leaflet-plugins/layer/tile/Google.js") 
    script(src="bower_components/leaflet-plugins/layer/tile/Bing.js") 
    <!-- endbuild -->
    
    
    
 
