//output:../../src/index.html
include mixins

doctype html
html(lang="en")

    head
        title "LULC Maps of Europe"
        meta(name="keywords" content=".....")
        meta(name="author" content="Fernando Fahl")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="shortcut icon" type="image/x-icon" href="img/logo/polimi.png")

        <!-- build:css1 css/main.min.css -->

        +addCSS('jquery-ui/themes/base/jquery-ui.css', "bower") 
        +addCSS('css-toggle-switch/dist/toggle-switch.css', "bower") 
        +addCSS('css/bootstrap-flex.css') 
        +addCSS('font-awesome/css/font-awesome.css', "bower") 
        <!-- endbuild -->

        //- <!-- build:css2 css/app.css -->
        +addCSS('leaflet/dist/leaflet.css', "bower")   
        +addCSS('Leaflet.ZoomBox/L.Control.ZoomBox.css', "bower")   
        +addCSS('Leaflet.NavBar/src/Leaflet.NavBar.css', "bower")
        +addCSS('leaflet-minimap/dist/Control.MiniMap.min.css', "bower")
        +addCSS('libs/Leaflet-IconLayers-master/src/iconLayers.css')
        +addCSS('libs/leaflet-graphicscale-master/dist/Leaflet.GraphicScale.min.css')
        +addCSS('leaflet.markercluster/dist/MarkerCluster.css', "bower") 
        //- <!-- endbuild -->



        //- <!-- build:css3 css/app.css -->
        +addCSS('css/sass/app.css') 
        //- <!-- endbuild -->

        <!-- build:js1 js/leaflet.min.js -->
        +addPlugin('leaflet/dist/leaflet.js', "bower")  
        +addPlugin('leaflet-plugins/layer/tile/Bing.js', "bower")        
        +addPlugin('leaflet-plugins/layer/tile/Google.js', "bower")  
 
        +addPlugin('leaflet-providers/leaflet-providers.js', "bower") 
  
        +addPlugin('Leaflet.ZoomBox/L.Control.ZoomBox.min.js', "bower")   
        +addPlugin('Leaflet.NavBar/src/Leaflet.NavBar.js', "bower")
        +addPlugin('leaflet-minimap/dist/Control.MiniMap.min.js', "bower")

        +addPlugin('libs/Leaflet-IconLayers-master/src/providers.js') 
        +addPlugin('libs/Leaflet-IconLayers-master/src/iconLayers.js') 

        +addPlugin('libs/leaflet-graphicscale-master/dist/Leaflet.GraphicScale.min.js')    
        +addPlugin('libs/Leaflet.ZoomLabel-master/src/L.Control.ZoomLabel.js')    

        +addPlugin('leaflet.markercluster/dist/leaflet.markercluster.js', "bower")   

        <!-- endbuild -->

    body

        .container-fluid

            header
                .logo
                    a(href="javascript:void(0)")
                        img(src="img/logo/logo_polimi_white.png" alt="Logo Image")
                .title
                    h2 Land Use and Land Cover Maps of Europe

            #main
                #side
                    .tabs
                        ul(id="clothing-nav" class="nav nav-tabs" role="tablist")
                            +tabs_bootstrap('nav-item','nav-link active','layers','Layers','true')
                            +tabs_bootstrap('nav-item','nav-link','legend','Legend','false')
                            +tabs_bootstrap('nav-item','nav-link','info','Metadata','false')

                    .pannel
                        #clothing-nav-content.tab-content
                            .tab-pane.fade.in.active(role="tabpanel" id="layers" aria-labelledby="layers-tab")

                                //- Accordion and layers parameters
                                #accordion
                                    +accorde('Administrative Layers', 'adm')
                                    +accorde('Land Cover Layers', 'lulc')
                                    +accorde('Photo Services', 'geotag')
                                    +accorde('External WMS Layers', 'WMS_external')

                            .tab-pane.fade(role="tabpanel" id="legend" aria-labelledby="legend-tab")
                              +legend_boot('Land Cover Layers', 'lulc')


                            .tab-pane.fade(role="tabpanel" id="info" aria-labelledby="info-tab")
                              +table_boot('Land Cover Layers', 'lulc')

                    .settings                        

                #map

            footer

        // Script section
        <!-- build:js2 js/libs.min.js -->
        script(src="bower_components/jquery/dist/jquery.js")
        script(src="bower_components/jquery-ui/jquery-ui.js")
        script(src="bower_components/tether/dist/js/tether.js")
        script(src="bower_components/bootstrap/dist/js/bootstrap.js")
        script(src="libs/Openlayers3.16.0/ol.js")
        //- script(src="http://www.panoramio.com/wapi/wapi.js?v=1")
        //- script(src="../node_modules/flickrapi/browser/flickrapi.js") 
        <!-- endbuild -->

        <!-- build:js3 js/app.min.js -->
        //- script(src="js/wmsObj.js")

        script(src="js/map.js")
        script(src="js/jquery.js")
        script(src="js/leaflet.js")
        script(src="js/parseXML.js")
        <!-- endbuild -->
