.wmsModal

    div(class="modal fade"  id="modalPhoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
        .modal-dialog
            .modal-content.modal-photo
                .modal-header
                    h3 Add Services
                .modal-body             
                    div(class="photoWeb col-xs-4 col-sm-4")
                        div(class="btn-group-vertical" data-toggle="buttons")
                            label(class="btn btn-primary btn-photo"  value="addFlickr") Flickr
                                i(class="icon fa ")
                                    input(type="checkbox"  id="addFlickr" autocomplete="off")
                                
                                
                            label(class="btn btn-primary btn-photo" value="addPanoraimo") Panoraimo
                                i(class="icon fa ")
                                    input(type="checkbox"  id="addPanoraimo" autocomplete="off" ) 
                                
                                    
                            label(class="btn btn-primary btn-photo"  value="addGeograph") Geograph
                                i(class="icon fa ")
                                    input(type="checkbox"  id="addGeograph" autocomplete="off") 
                                    
                    div(class="photoList col-xs-8 col-sm-8")
                        form(class="form-inline")
                            .form-group
                                label(for="photo_query") Search criteria
                                input(type="text" class="form-control" id="photo_query" placeholder="Search criteria")
                            .form-group
                                label(for="photo_number") Max. points
                                input(type="text" class="form-control" id="photo_number")
                .modal-buttons 
                    button(type="button" class="btn btn-secondary " id="wms_close" data-dismiss="modal") Close
                    button(type="button" class="btn btn-primary" id="wms_add" data-dismiss="modal" ) Add Selected Services


    
